.main-container {
  min-height: 100vh;
}
.main-main {
  width: 1281px;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
}
.main-image {
  width: auto;
  height: auto;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  border-color: transparent;
  margin-right: 0px;
}
.main-contentwrap {
  display: flex;
  padding: 56px;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.main-brand {
  width: 137px;
  height: 56px;
  position: relative;
  margin-bottom: 40px;
}
.main-formwrap {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.main-form {
  width: 368px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 24px;
  flex-direction: column;
}
.main-formheader {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 24px;
}
.main-text {
  color: var(--dl-color-branded-grey900);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 125%;
  margin-right: 0;
  margin-bottom: 0;
}
.main-input {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 24px;
  flex-direction: column;
  justify-content: center;
}
.main-labelwrap {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 4px;
}
.main-text02 {
  color: var(--dl-color-branded-grey600);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 139.9999976158142%;
  margin-right: 0;
  margin-bottom: 0;
}
.main-input1 {
  color: rgba(162, 165, 169, 1);
  display: flex;
  padding: 0 16px;
  position: relative;
  font-size: 14px;
  align-self: stretch;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Montserrat;
  font-weight: 500;
  border-color: rgba(209, 211, 214, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.main-input2 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 24px;
  flex-direction: column;
  justify-content: center;
}
.main-labelwrap1 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 4px;
}
.main-text04 {
  color: var(--dl-color-branded-grey600);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 139.9999976158142%;
  margin-right: 0;
  margin-bottom: 0;
}
.main-input3 {
  color: rgba(162, 165, 169, 1);
  display: flex;
  padding: 0 16px;
  position: relative;
  font-size: 14px;
  align-self: stretch;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Montserrat;
  font-weight: 500;
  border-color: rgba(209, 211, 214, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.main-button {
  display: flex;
  padding: 12px 16px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px;
  margin-bottom: 24px;
  justify-content: center;
  background-color: var(--dl-color-branded-coral);
}
.main-labelwrap2 {
  display: flex;
  padding: 1px 0;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.main-text06 {
  color: var(--dl-color-gray-white);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 139.9999976158142%;
  margin-right: 0;
  margin-bottom: 0;
}
.main-link {
  display: flex;
  padding: 4px 0;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.main-text08 {
  color: var(--dl-color-branded-grey600);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 125%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.main-separator {
  width: 368px;
  height: 0px;
  position: relative;
  align-self: stretch;
  margin-bottom: 24px;
}
.main-linkwrap {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.main-text10 {
  color: var(--dl-color-branded-grey600);
  height: auto;
  align-self: auto;
  text-align: center;
  line-height: 139.9999976158142%;
  margin-right: 0;
  margin-bottom: 0px;
}
.main-link1 {
  display: flex;
  padding: 4px 0;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.main-text12 {
  color: var(--dl-color-branded-grey600);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 125%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
