:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-color-branded-aqua: rgba(131, 174, 180, 1);
  --dl-color-branded-blue: rgba(5, 65, 104, 1);
  --dl-size-size-maxwidth: 1400px;
  --dl-color-branded-black: rgba(0, 0, 0, 1);
  --dl-color-branded-brown: rgba(103, 61, 0, 1);
  --dl-color-branded-coral: rgba(211, 86, 76, 1);
  --dl-color-branded-white: rgba(255, 255, 255, 1);
  --dl-color-states-danger: rgba(217, 49, 69, 1);
  --dl-radius-radius-round: 50%;
  --dl-color-branded-aqua15: rgba(131, 174, 180, 0.15000000596046448);
  --dl-color-branded-maroon: rgba(109, 41, 49, 1);
  --dl-color-states-success: rgba(63, 144, 96, 1);
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-color-branded-grey100: rgba(226, 226, 228, 1);
  --dl-color-branded-grey200: rgba(209, 211, 214, 1);
  --dl-color-branded-grey300: rgba(162, 165, 169, 1);
  --dl-color-branded-grey500: rgba(115, 118, 124, 1);
  --dl-color-branded-grey600: rgba(84, 88, 95, 1);
  --dl-color-branded-grey900: rgba(45, 41, 38, 1);
  --dl-color-branded-mustard: rgba(220, 171, 79, 1);
  --dl-color-default-coral15: rgba(211, 86, 76, 0.15000000596046448);
  --dl-color-states-danger15: rgba(217, 49, 69, 0.15000000596046448);
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-color-states-success15: rgba(63, 144, 96, 0.15000000596046448);
  --dl-space-space-threeunits: 48px;
  --dl-color-branded-mustard15: rgba(220, 171, 79, 0.15000000596046448);
  --dl-color-branded-background: rgba(243, 243, 243, 1);
  --dl-color-branded-maroondark: rgba(88, 23, 31, 1);
  --dl-color-branded-maroonlight: rgba(145, 64, 73, 1);
  --dl-color-branded-mustarddark: rgba(182, 137, 51, 1);
  --dl-space-space-oneandhalfunits: 24px;
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.XSBold {
  font-size: 12px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 700px;
  font-stretch: normal;
}
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.XXLMedium {
  font-size: 28px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 500px;
  font-stretch: normal;
}
.LGMedium {
  font-size: 18px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 500px;
  font-stretch: normal;
}
.XLBold {
  font-size: 22px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 700px;
  font-stretch: normal;
}
.MDMedium {
  font-size: 16px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 500px;
  font-stretch: normal;
}
.MDBold {
  font-size: 16px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 700px;
  font-stretch: normal;
}
.SMBold {
  font-size: 14px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 700px;
  font-stretch: normal;
}
.XXLBold {
  font-size: 28px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 700px;
  font-stretch: normal;
}
.SMMedium {
  font-size: 14px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 500px;
  font-stretch: normal;
}
.XLMedium {
  font-size: 22px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 500px;
  font-stretch: normal;
}
.LGBold {
  font-size: 18px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 700px;
  font-stretch: normal;
}
.XSMedium {
  font-size: 12px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 500px;
  font-stretch: normal;
}
